*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

@font-face {
    font-family: 'Inter', sans-serif;
    src: url(fonts/Inter/Inter-VariableFont_opsz\,wght.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root{
    --azul-clarinho: #667085;
    --azul-maisescuro: #3A404E;
    --vermelho: #8E2424;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.navbar{
    display: flex;
    justify-content: space-evenly;
}

.logo-nome{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 119px;
}

.nome{
    color: var(--azul-maisescuro);
    font-weight: medium;
    font-size: 18px;
}

header{
    padding: 2%;
}

.titulos-nav {
    display: flex;
    gap: 32px;
    margin-right:  619px;
    align-items: center;

}

.titulos-nav a{
    color: var(--azul-clarinho);
    font-weight: medium;
    font-family: 'inter', sans-serif;
}

#cadastro{
    background-color: var(--vermelho);
    padding: 15px;
    border-radius: 8px;
    color: white;
}

.login-cadastro{
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: 'inter', sans-serif;
    font-weight: medium;
}

#login{
    color: var(--azul-clarinho);
}

.titulo-sobre{
    color: var(--vermelho);
    text-align: center;
}